@model EFCodeFirstApproach1.Models.EmployeeTable
@{ ViewBag.Title = "Delete";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <table class="dl-horizontal">
        <tr>
            <td>
                @Html.DisplayFor(model => model.EName)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ESalary)
            </td>

            <td>
                @Html.DisplayFor(model => model.ESalary)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.DepartmentTable.DeptId)
            </td>

            <td>
                @Html.DisplayFor(model => model.DepartmentTable.DeptId)
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ManagerTable.MId)
            </td>

            <td>
                @Html.DisplayFor(model => model.ManagerTable.MId)
            </td>
        </tr>


    </table>


    <form action="/EmployeeTable/Delete/@Model.Id" method="post">
        <div class="form-actions no-color">
            <button type="submit" class="btn btn-danger">Delete Employee</button>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </form>


</div>
